html, body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
textarea.emscripten { font-family: monospace; width: 300px; padding: 0; margin: 0; }
canvas.emscripten { border: 1px solid; background-color: white; width: 400px; }
div.emscripten { text-align: center; }
body {
  display: flex;
  flex-flow: column;
}
h1 {
  text-align: center;
}
label {
  display: block;
  padding-left: 2px;
  padding-top: 2px;
}
textarea {
  flex: 1;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid;
  font-family: monospace;
}

.button {
  display: inline-block;
  color: #000000;
  background: #ffffff;
  vertical-align: baseline;
  border-radius: 0;
  border: 0.15em solid #808080;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  height: 1.8em;
  width: 3.25em;
  touch-action: manipulation;
}
.button:hover {
  border-color: #000000;
}
.button:active {
  background: #808080;
}
.pressed {
  border: 0.22em solid #000000;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #009ADE; 
}
a {
  color: #0082BB;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
